$white-field: #FFF;
$black-field: #000;
$bg-color: #24292e;

* {
  background-color: $bg-color;
  color: #FFF;
  font-family: sans-serif;
}

.App {
  display: grid;
  grid-template-columns: 50% 40%;
  grid-gap: 10%
}

.chessboard {
  width: 640px;
  height: 640px;
  grid-column: 1;
  display: grid;
  grid-template-columns: repeat(8, 80px);
  grid-template-rows: repeat(8, 80px);
  .black {
    fill: lighten($black-field, 40%);
  }
  .white {
    fill: lighten($white-field, 40%);
  }
  svg {
    position: absolute;
  }
  img {
    background-color: transparent;
    position: relative;
    cursor: move;
  }
}

.moves {
  grid-column: 2;
  border: 2px solid white;
  border-radius: 10px;
  width: 300px;
  height: 616px;
  padding: 10px;
  .h2 {
    text-align: center;
  }
}
