$white-field: #FFF;
$black-field: #000;
$available-field: rgb(135,206,250);

$bg-color: #24292e;
$warning-color: red;

$square-size: 80px;

* {
  background-color: $bg-color;
  color: #FFF;
  font-family: sans-serif;
}

.Modal {
   position: absolute;
   top: $square-size*2;
   left: $square-size*2;
   right: $square-size*2;
   bottom: $square-size*2;
   border-radius: 20px;
   background-color: $bg-color;
 }

 .Overlay {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: grey;
 }

 .fieldgroup{
   display: grid;
   grid-template-columns: repeat(5, 1fr);
 }
 label {
  float: left;
  padding: 0 1em;
  text-align: center;
}
.App {
  margin: 5%;
  display: grid;
  grid-template-columns: 5% 50% 41%;
  grid-template-rows: 5% 86% 5%;
  grid-gap: 2%;
  h1 {
    text-align: center;
    grid-column: 2;
    grid-row: 1;
  }
}

p {
  width: $square-size;
  height: $square-size;
  line-height: $square-size;
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}
.rows {
  grid-column: 1;
  grid-row: 2;
}

.cols {
  grid-column: 2;
  grid-row: 3;
  p {
    float: left;
  }
}

.chessboard {
  width: $square-size * 8;
  height:$square-size * 8;
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(8, $square-size);
  grid-template-rows: repeat(8, $square-size);
  .black {
    fill: lighten($black-field, 40%);
  }
  .black.available {
    fill: darken($available-field, 30%);
  }
  .white {
    fill: lighten($white-field, 40%);
  }
  .white.available {
    fill: $available-field;
  }
  svg {
    position: absolute;
  }
  img {
    background-color: transparent;
    position: relative;
    cursor: move;
  }
}

.moves {
  width: 50%;
  margin: 0 auto;
  grid-column: 3;
  grid-row: 2 / 4;
  border: 2px solid white;
  border-radius: 10px;
  height: 616px;
  padding: 10px;
  overflow: scroll;
  h2 {
    font-size: 2em;
    text-align: center;
    padding: 0;
    margin: 5%;
  }
  ul {
    list-style-type: none;
    padding: 0;
    li {
      border: 2px solid white;
      border-radius: 10px;
      display: grid;
      grid-column: repeat(3, 1fr);
      padding: 5px;
      margin: 5px;
      font-weight: bold;
      img {
        height: 40px;
        width: 40px;
        grid-column: 1;
        display: block;
      }
      span {
        line-height: 40px;
        vertical-align: middle;
        text-align: center;
      }
      span.moveRecord {
        grid-column: 2;
      }
      span.captureRecord {
        grid-column: 3;
        text-transform: uppercase;
        color: $warning-color;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
