$white-field: #FFF;
$black-field: #000;
$available-field: rgb(135,206,250);
$bg-color: #24292e;

* {
  background-color: $bg-color;
  color: #FFF;
  font-family: sans-serif;
}

.App {
  margin: 5%;
  display: grid;
  grid-template-columns: 5% 50% 41%;
  grid-template-rows: 5% 86% 5%;
  grid-gap: 2%;
  h1 {
    text-align: center;
    grid-column: 2;
    grid-row: 1;
  }
}

p {
  width: 80px;
  height: 80px;
  line-height: 80px;
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}
.rows {
  grid-column: 1;
  grid-row: 2;
}

.cols {
  grid-column: 2;
  grid-row: 3;
  p {
    float: left;
  }
}

.chessboard {
  width: 640px;
  height: 640px;
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(8, 80px);
  grid-template-rows: repeat(8, 80px);
  .black {
    fill: lighten($black-field, 40%);
  }
  .black.available {
    fill: darken($available-field, 30%);
  }
  .white {
    fill: lighten($white-field, 40%);
  }
  .white.available {
    fill: $available-field;
  }
  svg {
    position: absolute;
  }
  img {
    background-color: transparent;
    position: relative;
    cursor: move;
  }
}

.moves {
  width: 50%;
  margin: 0 auto;
  grid-column: 3;
  grid-row: 2 / 4;
  border: 2px solid white;
  border-radius: 10px;
  height: 616px;
  padding: 10px;
  h2 {
    font-size: 2em;
    text-align: center;
  }
  ul {
    list-style-type: none;
    padding: 0;
    li {
      padding: 5px;
      margin: 5px;
      font-weight: bold;
      span {
        margin: auto 0;
        line-height: 100%;
      }
    }
  }
}
